# {{ ansible_managed }}

cgroup_root={{ newrelic_sysmond_cgroup_root }}
collector_host={{ newrelic_sysmond_collector_host }}
disable_docker={{ 'true' if newrelic_sysmond_disable_docker|bool else 'false' }}
disable_nfs={{ 'true' if newrelic_sysmond_disable_nfs|bool else 'false' }}
docker_cacert={{ newrelic_sysmond_docker_cacert }}
docker_cert={{ newrelic_sysmond_docker_cert }}
docker_cert_path={{ newrelic_sysmond_docker_cert_path }}
docker_connection={{ newrelic_sysmond_docker_connection }}
docker_key={{ newrelic_sysmond_docker_key }}
host_root={{ newrelic_sysmond_host_root }}
hostname={{ newrelic_sysmond_hostname }}
ignore_reclaimable={{ 'true' if newrelic_sysmond_ignore_reclaimable|bool else 'false' }}
labels={{ newrelic_sysmond_labels|join(';') }}
license_key={{ newrelic_sysmond_license_key }}
logfile={{ newrelic_sysmond_logfile }}
loglevel={{ newrelic_sysmond_loglevel }}
pidfile={{ newrelic_sysmond_pidfile }}
proxy={{ newrelic_sysmond_proxy }}
ssl={{ 'true' if newrelic_sysmond_ssl|bool else 'false' }}
ssl_ca_bundle={{ newrelic_sysmond_ssl_ca_bundle }}
ssl_ca_path={{ newrelic_sysmond_ssl_ca_path }}
